.box {
    width: 90px;
    height: 90px;
    border: 5px solid #000000;

    font-size: 40px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.centralizar{
    max-width: 450px;
    margin-right: auto;
    margin-left: auto;
}
